body {
    background: none repeat scroll 0 0 #949494;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    width: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
}
h1, h2, h3 {
    color: #181818;
    text-align: center;
}

.header, .footer {
    background-color: #181818;/*#0c092f;*/
    width: 100%;
    height: 80px;
    color: #E7E7E7;
    border-bottom: 1px solid #FFFFFF;
}
.header {
    margin-bottom: 30px;
}
.footer {
    margin-top: 30px;
    border-bottom: none;
    border-top: 1px solid #FFFFFF;
}

.introducing {
    width: 950px;
    margin:auto;
    padding: 10px;
    text-align: center;
}

.header-links {
    list-style-type: none;
    background-color: #2E0B33;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    margin: auto;
    width: 255px;
    padding: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
    border-top: 1px solid rgba(219, 219, 219, 0.50);
}

.header-links li {
    display: inline;
    margin-right: 20px;
}

.header-links a {
    color: #FFFFFF;
    font-size: 0.85em;
}
.title-links a {
    color: #FFFFFF;
}

.title-links a:visited {
    color: #FFFFFF;
}


.title-line {
    border-bottom: 1px dashed #181818;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.game {
    border: 1px solid #000000;
    box-shadow: 0 10px 0 rgba(255, 255, 255, 0.15) inset, 0 10px 10px rgba(0, 0, 0, 0.75);
    margin:auto;
    width: 900px;
    color: #9C9C9C;
    font-weight: normal;
    font-size: 0.9em;
    margin-top: 20px;
}

.game a {
    color: #9C9C9C;
}

.game .information {
    background: none repeat scroll 0 0 #2E0B33;
    border-top: 1px solid #575d5d;
    padding: 10px;
    padding-top: 20px;
}

.title {
    padding-top: 50px;
    padding: 20px;
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: bold;
    margin:auto;
    float:left;
    width: 20%;
    text-align: center;
}
.about {
    float: right;
    width: 75%;
}

.links {
    float:right;
}

.links a {
    color: #FFFFFF;
}

.links a:visited {
    color: #54435a;
}

.role {
    font-size: 0.6em;
    font-weight: lighter;
    font-style: italic;
}
